body {
  background-color: black;
  color: white;
}

.star {
  background-image: url('../img/start.jpg');
  background-size: cover;
}

.speed {
  background-image: url('../img/speed.gif');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
